html {
    background: #f8f6f4;
    color: #333333;
    font-family: "Raleway",sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5em;
}

body {
    background: inherit;
    font-size: 36px;
    margin: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #0084b2;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    margin-top: 0;
    line-height: 1em;
}

h1 {
    margin-bottom: 1em;
}

h1.big {
    font-size: 2.33em;
}

h2.big {
    font-size: 1.17em;
}

h2.bigger {
    font-size: 1.6em;
}

h2.biggest {
    font-size: 2.33em;
}

a:link, a:visited, a:active {
    color: #0274BB;
}

p {
    line-height: 1.2em;
}

table {
    width: 100%;
}

.carousel-inner {
    height: 600px;
    margin: auto;
    width: 960px;
}

.carousel .item {
    /* background: rgba(0, 0, 0, .2); */
    height: 100%;
}

img.logo {
    margin: 1.2em auto;
    width: 250px;
}

.center {
    text-align: center;
}

#carousel .item {
    min-height: 600px;
}

.center h1, .center h2, .center h3, .center p {
    text-align: center;
}

#wifi p {
    margin-bottom: 1em;
}

.contextual-links-wrapper {
    display: none;
}

.field.field-label-inline .field-label,
.field.field-label-inline .field-items {
    float: left;
}

.schedule {
    font-size: 24px;
}

.schedule .views-row {
    padding: 1em;
}

.schedule .views-row-odd {
    background-color: #f0ebe8;
}

.schedule .field,
.schedule .field > .field-label {
    display: none;
}

.schedule .field.scamp-session-room {
    display: block;
    float: left;
    width: 50%;
}

.sponsors-silver h1 {
    margin-bottom: .7em;
}

.sponsors img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.sponsors .sponsor {
    float: left;
    height: 150px;
    padding: .8em .5em;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
}

.sponsors-gold .sponsor {
    height: 200px;
    padding: 1em;
    width: 50%;
}

.sponsors-silver .sponsor:nth-of-type(7) {
    margin-left: 25%;
}
