html {
    background: #f8f6f4;
    color: #333333;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

body {
    background: inherit;
    font-size: 36px;
    margin: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #0084b2;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    margin-top: 0;
    line-height: 1em;
}

h1.big {
    font-size: 2.33em;
}

h2.big {
    font-size: 1.17em;
}

h2.bigger {
    font-size: 1.6em;
}

h2.biggest {
    font-size: 2.33em;
}

a:link, a:visited, a:active {
    color: #0274BB;
}

table {
    width: 100%;
}

.carousel-inner {
    height: 600px;
    margin: auto;
    width: 960px;
}

.carousel .item {
    /* background: rgba(0, 0, 0, .2); */
    height: 100%;
}

img.logo {
    margin: 1.2em auto;
    width: 250px;
}

.center {
    text-align: center;
}

#carousel .item {
    min-height: 600px;
}

.center h1, .center h2, .center h3, .center p {
    text-align: center;
}
